# Twilio API Configuration
REACT_APP_TWILIO_ACCOUNT_SID=AC5d2e9ee9e3863ae1cfa2d74fe5d796b6
REACT_APP_TWILIO_AUTH_TOKEN=0d09a206e575e38b17fd052b787bdc70
REACT_APP_TWILIO_SERVICE_ID=SK2be5b09a4ffc471dba00fafc769dae9f

# API Configuration
REACT_APP_API_URL=http://localhost:8000

# App Configuration
REACT_APP_APP_NAME=Tagzilla
REACT_APP_APP_VERSION=1.0.0
